* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "SUSE", system-ui;
}

.card {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.card_img img {
    height: 530px;
    width: 530px;
    object-fit: contain;
    margin-top: 300px;
}

.card .card_content {
    max-width: 400px;
}

.card .card_content p {
    font-size: 44px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 20px;
}

.card .card_content span {
    display: block;
    margin-bottom: 60px;
}

.card .card_content button{
    padding: 10px 20px;
}

.card_others{
    display: flex;
}

.card_others img{
    margin-left: 50px;
}

.card_others p{
    font-size: 27px;
    margin-left: 40px;
    margin-top: 27px;
}

.card_others .Line{
    width: 50px;
    height: 2px;
    background-color: red;
    margin-top: 55px;
}